@font-face {
    font-family: "Inter";
    src:url("/assets/font/Inter/Inter-Black.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-Bold.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-ExtraBold.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-ExtraLight.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-Light.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-Medium.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-Regular.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-SemiBold.ttf") format("truetype"),
        url("/assets/font/Inter/Inter-Thin.ttf") format("truetype");
}


@font-face {
    font-family: "Lato";
    src:url("/assets/font/Lato/Lato-Black.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-BlackItalic.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-Bold.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-BoldItalic.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-Italic.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-Light.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-LightItalic.ttf") format("truetype"),
        url("/src/assets/font/Lato/Lato-Regular.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-Thin.ttf") format("truetype"),
        url("/assets/font/Lato/Lato-ThinItalic.ttf") format("truetype");
}