@mixin grosTitre{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11rem;
}


@media screen and (min-width: 768px) {
    @mixin grosTitre{
        font-size: 8rem;
    }
}

@media screen and (min-width: 576px) {
    @mixin grosTitre{
        font-size: 6rem;
    }
}